<div class="container-forget-password-pc" *ngIf='bigScreen==1'>
    <div class="public-main">
      <!-- <div class="public-main-left1">
        <p class="public-p1">医疗智慧调研平台</p>
        <div>
          <img src="" alt="">
          <p id="pc-forget-password-return-button" [routerLink]="['/public-platform/homepage/main']">返回首页</p>
        </div>
        <img src="assets/images/login/login1.png" alt="">
        <p>@2021 digitalbaseas.com </p>
        <p>蜀ICP备19034283号-1 四川数字基石信息科技有限公司</p>
      </div> -->
      <div class="public-main-right1">
        <!-- <div>
          <img src="assets/images/login/login_logo.png" alt="" class="pc-forget-password-logo">
        </div> -->
          <div class="pc-forget-password-main-left">
            <div id="pc-forget-password-main-message">找回密码</div>
            <!-- <span id="pc-forget-password-main-select">切换身份</span> -->
            <mat-card-content>
              <div class="pc-forget-password-main-input">
                <mat-form-field class="full-width">
                  <mat-label>
                    <span>手机号</span>
                  </mat-label>
                  <input matInput [(ngModel)]="shortMessage.mobile" type='text' (blur)='checkPhone()'>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>
                    <span>验证码</span>
                  </mat-label>
                  <input matInput [(ngModel)]="shortMessage.num" type='password'>
                  <button nz-button [disabled]="countDown" (click)="sendMessage()" class="btn pc-forget-password-sendMessage">
                    {{showButtonText}}</button>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>
                    <span>新密码</span>
                  </mat-label>
                  <input matInput [(ngModel)]="password" type='password'>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>
                    <span>确认新密码</span>
                  </mat-label>
                  <input matInput [(ngModel)]="confirmPassword" type='password'>
                </mat-form-field>
              </div>
            </mat-card-content>
          </div>
          <div style="padding: 0 40px;">
            <button class="btn pc-forget-password-button" (click)="confirm()">确定</button>
            <div class="pc-forget-password-registry">
              <a *ngIf="userType == 0 " [routerLink]="['/public-platform/homepage/login']"
                [queryParams]="{userType:0}">< 返回登录</a>
              <a *ngIf="userType == 1 " [routerLink]="['/public-platform/homepage/login']"
                [queryParams]="{userType:1}">< 返回登录</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  <div class="container-forget-password-phone" *ngIf='bigScreen==0'>
    <div class="public-main">
      <div class="public-main-right1" [ngStyle]="{'height':screenHeight!=undefined?screenHeight:'800px'}">
        <div>
          <img src="assets/images/login/login_logo.png" alt="" class="phone-forget-password-logo">
        </div>
        <div>
          <div class="phone-forget-password-main">
            <span id="phone-forget-password-main-message">找回密码</span>
            <!-- <span id="phone-forget-password-main-select">切换身份</span> -->
            <div>
              <mat-card-content>
                <div>
                  <mat-form-field class="full-width">
                    <mat-label>
                      <span>手机号</span>
                    </mat-label>
                    <input matInput [(ngModel)]="shortMessage.mobile" type='text' (blur)='checkPhone()'>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>
                      <span>验证码</span>
                    </mat-label>
                    <input matInput [(ngModel)]="shortMessage.num" type='password'>
                    <button nz-button [disabled]="countDown" (click)="sendMessage()"
                      class="phone-forget-password-sendMessage">
                      {{showButtonText}}</button>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>
                      <span>新密码</span>
                    </mat-label>
                    <input matInput [(ngModel)]="password" type='password'>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>
                      <span>确认新密码</span>
                    </mat-label>
                    <input matInput [(ngModel)]="confirmPassword" type='password'>
                  </mat-form-field>
                </div>
              </mat-card-content>
            </div>
          </div>
        </div>
        <div id="phone-forget-password-bottom">
          <button class="phone-forget-password-button" (click)="confirm()">确定</button>
          <div class="phone-forget-password-registry">
            <a *ngIf="userType == 0 " [routerLink]="['/public-platform/homepage/login']"
              [queryParams]="{userType:0}">返回登录?</a>
            <a *ngIf="userType == 1 " [routerLink]="['/public-platform/homepage/login']"
              [queryParams]="{userType:1}">返回登录?</a>
          </div>
        </div>
      </div>
    </div>
  </div>