.container-forget-password-pc {
    // background: linear-gradient(240deg, #376cde 9%, #2cc9ff 80%);
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle;
    text-align: center;
    a {
        text-decoration: none;
    }
    .pc-forget-password-forgetPassword {
        float: left;
        margin-left: 10%;
        width: 63px;
        height: 20px;
        opacity: 1;
        font-size: 14px;
        font-family: SourceHanSansSC, SourceHanSansSC-Regular;
        font-weight: 400;
        text-align: right;
        color: #fc4850;
        line-height: 20px;
    }
    .pc-forget-password-registry {
        margin-top: 1%;
        a {
            width: 28px;
            opacity: 1;
            font-size: 14px;
            font-family: SourceHanSansSC, SourceHanSansSC-Regular;
            font-weight: 400;
            text-align: left;
            color: #5781ed;
            line-height: 20px;
            text-decoration: underline;
        }
    }
    #pc-forget-password-return-button {
        text-align: right;
        opacity: 1;
        font-size: 20px;
        font-family: SourceHanSansSC, SourceHanSansSC-Bold;
        font-weight: 700;
        color: #ffffff;
        line-height: 32px;
    }
    .public-main {
        padding: 120px 100px 85px;
        justify-content: center;
        align-items: center;
        display: -webkit-flex;
        .public-main-left1 {
            margin: 9% 5%;
            margin-right: 5%;
            float: left;
            p {
                font-size: 12px;
                font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                font-weight: 400;
                text-align: left;
                color: #00846c;
                line-height: 20px;
            }
            img {
                width: 500px;
            }
        }
        .public-main-right1 {
            width: 580px;
            height: 565px;
            padding: 20px;
            opacity: 1;
            background: #f8fbff;
            border-radius: 20px;
            box-shadow: 0 4px 20px 0px rgba(250, 244, 244, 0.14), 0 7px 10px -5px rgba(78, 80, 90, 0.4);
            position: relative;
            box-sizing: border-box;
            .pc-forget-password-logo {
                margin-top: 10px;
                width: 100px;
            }
            .pc-forget-password-main-left {
                #pc-forget-password-main-message {
                    height: 56px;
                    font-size: 32px;
                    font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                    font-weight: 700;
                    text-align: center;
                    color: #0c4492;
                    line-height: 56px;
                    letter-spacing: 1px;
                    margin-bottom: 30px;
                }
                .full-width {
                    margin: 0 40px;
                    span {
                        margin: 2% 2%;
                        width: 48px;
                        height: 36px;
                        opacity: 1;
                        font-size: 13px;
                        font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                        font-weight: 400;
                        text-align: left;
                        color: #5781ed;
                        line-height: 36px;
                    }
                    input {
                        width: 252px;
                        height: 36px;
                        opacity: 1;
                        font-size: 13px;
                        font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                        font-weight: 400;
                        text-align: left;
                        color: #121a2d;
                        line-height: 36px;
                    }
                }
                .pc-forget-password-main-input {
                    vertical-align: middle;
                }
                #pc-forget-password-main-select {
                    width: 56px;
                    height: 20px;
                    opacity: 1;
                    font-size: 10px;
                    font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                    font-weight: 400;
                    text-align: right;
                    color: #5781ed;
                    line-height: 20px;
                }
            }
            .pc-forget-password-sendMessage{
                float: right;
                height: 36px;
                width: 160px;
                margin-left: 20px;
                background: #2d79e6;
                border-radius: 20px;
                font-size: 14px;
                font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                color: #ffffff;
                letter-spacing: 1px;
                border-color: #2d79e6;
                margin: 0;
                box-shadow: none;
                line-height: 36px;
                padding: 0;
            }
            .pc-forget-password-button {
                margin: 20px 0;
                width: 100%;
                height: 48px;
                background: #2d79e6;
                font-size: 18px;
                font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                color: #ffffff;
                line-height: 46px;
                letter-spacing: 2px;
                border-color: #2d79e6;
                padding: 0;
                border-radius: 24px;
            }
            .pc-forget-password-main-right {
                float: right;
                .qrcode {
                    width: 10px;
                }
                .title {
                    display: none;
                }
                .info {
                    width: 10px;
                }
                .status_icon {
                    display: none;
                }
                .status {
                    text-align: center;
                }
            }
        }
    }
}

.container-forget-password-phone {
    background: linear-gradient(240deg, #376cde 9%, #2cc9ff 80%);
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle;
    text-align: center;
    a {
        text-decoration: none;
    }
    .phone-forget-password-forgetPassword {
        float: left;
        margin-left: 8%;
        width: 63px;
        height: 20px;
        opacity: 1;
        font-size: 14px;
        font-family: SourceHanSansSC, SourceHanSansSC-Regular;
        font-weight: 400;
        text-align: right;
        color: #fc4850;
        line-height: 20px;
    }
    .phone-forget-password-registry {
        margin-top: 1%;
        a {
            width: 28px;
            height: 20px;
            opacity: 1;
            font-size: 14px;
            font-family: SourceHanSansSC, SourceHanSansSC-Regular;
            font-weight: 400;
            text-align: left;
            color: #5781ed;
            line-height: 20px;
        }
        span {
            width: 84px;
            height: 20px;
            opacity: 1;
            font-size: 14px;
            font-family: SourceHanSansSC, SourceHanSansSC-Regular;
            font-weight: 400;
            text-align: center;
            color: #414857;
            line-height: 20px;
        }
    }
    #phone-forget-password-bottom {
        margin-left: 20%;
        width: 60%;
    }
    .public-main {
        justify-content: center;
        align-items: center;
        display: -webkit-flex;
        .public-main-right1 {
            // height: 800px;
            margin: 10% 5%;
            width: 80%;
            height: 80%;
            float: right;
            opacity: 1;
            background: #ffffff;
            border-radius: 20px;
            .phone-forget-password-logo {
                margin-top: 10%;
                width: 30%;
            }
            .phone-forget-password-main {
                margin-top: 10%;
                .full-width {
                    text-align: left;
                    margin: 8%;
                    width: 84%;
                    opacity: 1;
                    font-size: 13px;
                    font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                    span {
                        color: #5781ed;
                    }
                    input {
                        color: #121a2d;
                    }
                }
                #phone-forget-password-main-message {
                    width: 100%;
                    opacity: 1;
                    font-size: 20px;
                    font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #5781ed;
                    letter-spacing: 1px;
                }
                #phone-forget-password-main-select {
                    width: 100%;
                    opacity: 1;
                    font-size: 10px;
                    font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                    text-align: right;
                    color: #5781ed;
                }
            }
            .phone-forget-password-sendMessage{
                width: 100px;
                height: 26px;
                float: right;
                margin-left: 20px;
                background: linear-gradient(240deg, #376cde 9%, #2cc9ff 80%);
                border-radius: 10px;
                font-size: 13px;
                font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                font-weight: 700;
                color: #ffffff;
            }
            .phone-forget-password-button {
                margin-top: 5%;
                width: 100%;
                background: linear-gradient(240deg, #376cde 9%, #2cc9ff 80%);
                border-radius: 16px;
                font-size: 20px;
                font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                font-weight: 700;
                color: #ffffff;
            }
        }
    }
}
