@import 'src/assets/scss/base.scss';

.template {
    text-align: left;
    height: 100%;
    max-height: 700px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    font-weight: 600;
}

.form-row {
    border-left: none;
    border-right: none;
    padding: 0px;
}

.form-header-1 {
    background-color: gainsboro;
    border-left: none;
    border-right: none;
    font-size: medium;
    font-weight: bold;
}

.form-header-2 {
    background-color: rgb(86, 86, 167);
    color: white;
    border-left: none;
    border-right: none;
    font-weight: bolder;
    padding: 5px;
}

.record-row {
    color: black;
    float: right;
    font-weight: bold;
}

.selected-1 {
    color: red;
}

.selected-2 {
    color: red;
}

.selected-3 {
    background-color: rgb(239, 239, 247);
}

.full-width {
    width: 100%;

    margin-bottom: -10px;
}

.thumbnail {
    height: 75px;
    width: 75px;
}

.card-rose {
    background-color: #9c27b0;

    span {
        color: white;
    }

    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(#9c27b0, 0.4);
}

.card-success {
    background-color: #4caf50;

    span {
        color: white;
    }

    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(#4caf50, 0.4);
}

.card-primary {
    background-color: #3f51b5;

    span {
        color: white;
    }

    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(#3f51b5, 0.4);
}

.card-rose-color {
    color: #9c27b0;
    font-weight: 700;
    font-size: medium;
}

.card-success-color {
    color: #4caf50;
    font-weight: 700;
    font-size: medium;
}

.card-primary-color {
    color: #3f51b5;
    font-weight: 700;
    font-size: medium;
}

.card-rose-1 {
    background-color: #ce93d8;
    color: white;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(#ce93d8, 0.4);
}

.card-success-1 {
    background-color: #81c784;
    color: white;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(#81c784, 0.4);
}

.card-primary-1 {
    background-color: #7986cb;

    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(#7986cb, 0.4);
}

.card-rose-2 {
    background-color: #d1c4e9;
    color: white;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(#d1c4e9, 0.4);
}

.card-success-2 {
    background-color: #c8e6c9;
    color: white;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(#c8e6c9, 0.4);
}

.card-primary-2 {
    background-color: #c5cae9;

    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(#c5cae9, 0.4);
}

.levelOne {
    color: orange;
    font-weight: 900;
}

.levelTwo {
    color: red;
    font-weight: 900;
}

.normal {
    color: black;
    font-weight: 900;
}

.selected {
    background-color: lightgray;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(lightgray, 0.4);
}

.nav {
    color: rgb(86, 86, 167);

    background-color: transparent;
    height: 50px;
}

.large-letter {
    font-size: medium;
}

.small-letter {
    font-size: medium;
}

.image-position {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.ob-image {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 30px;
    // height:200px;
}

.followup-ob {
    font-size: large;
    font-weight: 800;
}

.cell-width {
    margin: 10px;
    width: 95%;
}

.pc-width {
    margin: 10px;
    width: 98.5%;
}

//song
.formbox {
    margin: 0;
    .card-header {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
        .title {
            display: inline-block;
            font-size: $fontSize18;
            color: $lightBluefontColor;
            font-weight: 600;
            line-height: 36px;
        }
        .btn {
            margin: 0 10px;
            padding: 5px 12px;
        }
    }
    .card-body {
        padding: 10px;
        height: calc(80vh - 60px);
        box-sizing: border-box;
        overflow-y: auto;
    }
    .card-body-2 {
        padding: 10px;
    
        box-sizing: border-box;
    
    }
}
.table {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    td {
        padding: 0;
        margin: 0;
        color: $basefontColor!important;
    }
}
.nextbox {
    width: 100%;
    text-align: center;
    margin: 0px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    .btn {
        margin: 0 10px;
    }
}

//song-wap style
.wap-wapper {
    border: none;
    box-shadow: none;
    .card-body {
        height: calc(90vh - 60px);
    }
}