<!-- [ngStyle]="{'height':scrollSize+'px'}" -->
<div class="wapper" [ngClass]="{'wap-wapper':bigScreen==0}">
  <div class="searchbox">
    <input class='form-control'><i class="material-icons">search</i>
  </div>
  <div *ngIf="bigScreen==1">
    <div class='card publishlist' *ngFor='let publish of publishList'>
      <a class="card-link" [routerLink]="['../publish/', publish._id]">
        <div class="card-left"><img [src]="getUrl(publish)" class='head-photo'></div>
        <div class="card-right">
          <div class="card-right-title">
            <h3 class="title" *ngIf="language=='Chinese'">{{publish.label.ch}}</h3>
            <h3 class="title" *ngIf="language=='English'">{{publish.label.en}}</h3>
            <span class="visticount">浏览次数:{{publish.counter}}</span>
          </div>
          <div class='card-right-desc' *ngIf='publish.desc'>
            {{publish.desc.patient}}
          </div>
        </div>
      </a> 
    </div>
  </div>
  <div *ngIf="bigScreen==0">
    <div class='card publishlist' *ngFor='let publish of publishList'>
      <a class="card-link" [routerLink]="['../publish/', publish._id]">
        <h3 class="title" *ngIf="language=='Chinese'">{{publish.label.ch}}</h3>
        <h3 class="title" *ngIf="language=='English'">{{publish.label.en}}</h3>
        <div class="visticount">浏览次数:{{publish.counter}}</div>
        <div class="card-left"><img [src]="getUrl(publish)" class='head-photo'></div>
        <div class='card-right-desc' *ngIf='publish.desc'>
          {{publish.desc.patient}}
        </div>
      </a> 
    </div>
  </div>
</div>
  <div class="overlay" *ngIf="loading">
    <div class="spinner-wrapper">
      <spinner></spinner>
    </div>
  </div>
