@import 'src/assets/scss/base.scss';
.wapper {
  width: 80%;
  max-width: 1200px;
  padding: 100px 0;
  margin: 0 auto;
    .searchbox {
      width:320px;
      margin: 0 0 0 auto;
      position: relative;
      input{
          color: #fff;
          padding-right: 60rem/$base;
          border-radius: 25px;
          border-color: transparent;
          background: rgb(27, 101, 204);
          border: 1px solid rgba(255,255,255,.05);
      }
      i{
          position: absolute;
          top:0;
          right: 0;
          width: 60rem/$base;
          height: 40rem/$base;
          text-align: center;
          line-height: 40rem/$base;
          color: #fff;
      }
  }
  .publishlist {
    margin: 20px 0;
    padding: 20px 20px 20px 240px;
    min-height: 240px;
    position: relative;
    border-radius:25px;
    .card-left {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 200px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: top;
      }
    }
    .card-right-title {
      display: flex;
      justify-content: space-between;
    }
    .title {
      font-size: $fontSize18;
      color: $darkfontColor;
      line-height: 42px;
      font-weight: 600;
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .visticount {
        font-size: $fontSize14;
        color: $baseBluefontColor;
        line-height: 40px;
    }
    .card-right-desc {
      font-size: $fontSize14;
      color: $basefontColor;
      line-height: 32px;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
.wap-wapper {
  margin-top: -220px;
  padding: 0;
  width: 90%;
  .searchbox {
    width: 100%;
  }
  .publishlist {
    padding: 20rem/$base;
    .card-left {
      position: static;
      width: auto;
      height: 120px;
      margin: 6rem/$base 0;
    }
    .title {
      text-align: center;
    }
    .visticount {
      font-size: $fontSize12;
      line-height: 24rem/$base;
      text-align: center;
    }
  }
}