// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              $indigo-500 !default;
$brand-info:                 $grey-600 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $purple-500 !default;
$brand-inverse:              $black-color !default;
$brand-sidebar-button:       $light-blue-800 !default;
$card-infor-1:     $light-blue-800 !default;
$card-infor-2:     $light-blue-100 !default;
