.chart-size-1 {
    width: 30%;
    padding: 8px;
    margin-left: 8px;
}
.chart-size-2 {
    width: 60%;
    padding: 8px;
    margin-left: 8px;
}
.main{
 background-color: transparent;
 border-radius: 30px;
}
.chart-layout{
    margin-top:0px;
    padding:10px;
    padding-top:30px;
    padding-bottom:10px;
    border-radius: 30px;

}