<div class="pc-home-page-main" *ngIf='bigScreen==1'>
    <div class="pc-public-main blue-ground">
        <div class="pc-public-main-left">
            <p class="pc-public-p1">医疗智慧调研平台</p>
            <p class="pc-public-p2">数基健康</p>
            <p class="pc-public-p3">DIGITAL BASE</p>
            <p class="pc-public-p4">在当今以技术为中心的格局中，卓越的</p>
            <p class="pc-public-p4">医疗保健并不仅仅取决于临床医生。</p>
       
            <p class="pc-public-p4">从移动设备到远程医疗再到患者数据安</p>
            <p class="pc-public-p4">全的医疗保健IT对于提供最佳护理至关重要。</p>
        </div>
       <div class="pc-public-main-right">
            <img src="assets/images/home/pc/hero-img.png" alt="">
        </div>
    </div>
    <div class="pc-public-main blue-ground">
        <div class="pc-public-main-left1">
            <!-- <p class="public-p1">医疗智慧调研平台</p> -->
            <img src="assets/images/home/pc/Group_2.png" alt="">
        </div>
        <div class="pc-public-main-right1">
            <p class="pc-public-p2">关于我们</p>
            <p class="pc-public-p3">ABOUT US</p>
            <p class="pc-public-p4">数字基石与健康团队创建于2018年夏 </p>
            <p class="pc-public-p4">着力于创建新型医疗模式 </p>
            <p class="pc-public-p4">在互联网平台注入临床医生的临床思维 </p>
            <p class="pc-public-p4">用智能化的平台管理疾病诊疗 </p>
            <p class="pc-public-p4">患者关系以及预防疾病的发生.</p>
        </div>
    </div>
    <div class="pc-public-main blue-ground">
        <div class="pc-public-main-left">
            <!-- <p class="public-p1">医疗智慧调研平台</p> -->
            <p class="pc-public-p2">我们的优势</p>
            <p class="pc-public-p3">STRENGTHS</p>
            <p class="pc-public-p4">数基健康平台的构架灵活先进 </p>
            <p class="pc-public-p4">临床医生可自由配制诊疗方案 </p>
            <p class="pc-public-p4">根据临床指标筛选目标病人, 总结疗效, </p>
            <p class="pc-public-p4">记录并可视化分析病人疾病周期</p>
        </div>
        <div class="pc-public-main-right">
            <img src="assets/images/home/pc/Group_3.png" alt="">
        </div>
    </div>
    <div class="pc-public-main blue-ground">
        <div class="pc-public-main-left1">
            <!-- <p class="public-p1">医疗智慧调研平台</p> -->
            <img src="assets/images/home/pc/Group_4.png" alt="">
        </div>
        <div class="pc-public-main-right1">
            <p class="pc-public-p2">多功能平台</p>
            <p class="pc-public-p3">MULTI PLATFORM</p>
            <p class="pc-public-p4">平台利用微信平台协助医者诊所宣传, 疾病宣传管理, </p>
            <p class="pc-public-p4">患者自测, 预约, 付费, 以及线上咨询. </p>
            <p class="pc-public-p4">诚请更多的医者加入我们，</p>
            <p class="pc-public-p4">利用平台智能化的优质资源 </p>
            <p class="pc-public-p4">让您的医疗事业更上一层楼!</p>
        </div>
    </div>
</div>


<div class="phone-home-page-main" *ngIf='bigScreen==0'>
    <div class="phone-public-main">
      
        <div>
            <p class="phone-public-p1">医疗智慧调研平台</p>
            <p></p>
            <p></p>
            <p class="phone-public-p2">数基健康</p>
            <p></p>
            <p class="phone-public-p3">Digital Base</p>
            <p></p>
            <p></p>
            <p></p>
           <!--<p class="phone-public-p4">在当今以技术为中心的格局中，卓越的</p>
            <p class="phone-public-p4">医疗保健并不仅仅取决于临床医生。</p>
            <p class="phone-public-p4">从移动设备到远程医疗再到患者数据安</p>
            <p class="phone-public-p4">全的医疗保健IT对于提供最佳护理至关重要。</p>--> 
        </div>
        <div>
            <img src="assets/images/home/pc/Group_1.png" alt="" class='photo'>
        </div>
    </div>
    <div class="phone-public-main">
        <div>
            <img src="assets/images/home/pc/Group_2.png" alt="">
        </div>
        <div>
            <p class="phone-public-p2">关于我们</p>
            <p></p>
            <p class="phone-public-p3">ABOUT US</p>
            <p class="phone-public-p4">数字基石与健康团队创建于2018年夏 </p>
            <p class="phone-public-p4">着力于创建新型医疗模式 </p>
            <p class="phone-public-p4">在互联网平台注入临床医生的临床思维 </p>
            <p class="phone-public-p4">用智能化的平台管理疾病诊疗 </p>
            <p class="phone-public-p4">患者关系以及预防疾病的发生.</p>
        </div>
    </div>
    <div class="phone-public-main">
        <div>
            <img src="assets/images/home/pc/Group_3.png" alt="">
        </div>
        <div>
            <p class="phone-public-p2">我们的优势</p>
            <p></p>
            <p class="phone-public-p3">OUR STRENGTHS</p>
            <p class="phone-public-p4">数基健康平台的构架灵活先进 </p>
            <p class="phone-public-p4">临床医生可自由配制诊疗方案 </p>
            <p class="phone-public-p4">根据临床指标筛选目标病人, 总结疗效, </p>
            <p class="phone-public-p4">记录并可视化分析病人疾病周期</p>
        </div>
    </div>
    <div class="phone-public-main">
        <div>
            <!-- <p class="phone-public-p1">医疗智慧调研平台</p> -->
            <img src="assets/images/home/pc/Group_4.png" alt="">
        </div>
        <div>
            <p class="phone-public-p2">多功能平台</p>
            <p></p>
            <p class="phone-public-p3">MULTI PLATFORM</p>
            <p class="phone-public-p4">平台利用微信平台协助医者诊所宣传, 疾病宣传管理, </p>
            <p class="phone-public-p4">患者自测, 预约, 付费, 以及线上咨询. </p>
            <p class="phone-public-p4">诚请更多的医者加入我们，</p>
            <p class="phone-public-p4">利用平台智能化的优质资源 </p>
            <p class="phone-public-p4">让您的医疗事业更上一层楼!</p>
        </div>
    </div>
    <div class="public-phone-main-bottom"  >
    <div id="public-phone-main-bottom-top">
      <div>
        <img class="public-phone-img" src="assets/images/home/pc/Group_company_tel.png" alt="">&nbsp;&nbsp;
        <span>客服电话：400-123-1234</span>
      </div>
      <div>
        <img class="public-phone-img" src="assets/images/home/pc/Group_company_ico.png" alt="">&nbsp;&nbsp;
        <span>公司地址：四川省成都市锦江区一环路东四段14号7楼705、707号</span>
      </div>
      <div>
        <span>@2021 digitalbaseas.com 蜀ICP备19034283号-1 四川数字基石信息科技有限公司</span>
      </div>
    </div>
    <!-- 不知道为什么在img里面放微信公众号授权登陆,暂时隐藏 -->
    <!-- <div>
      <img
        src="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx1456c566ec3e6686&redirect_uri=https://www.digitalbaseas.com/homepage/public-phone-poster&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect"
        alt="">
    </div> -->
  </div>
</div>