.login {
    margin: 20px 10px;
}

.my-card {
    padding: 40px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-weight: 900;
}

.nav {
    color: rgb(16, 16, 129);
    height: 50px;
    background-color: transparent;
    font-weight: 500;
    font-style: random($limit: 1);
    font-feature-settings: "blwf";
    font-size-adjust: inherit;
}

.nav a {
    color: rgb(16, 16, 129);
    padding-bottom: 30px;
}

.align-center {
    text-align: center;
    margin-top: -20px;
    margin-left: 40%;
    width: 700px;
    padding: 50px;
}

.align-left {
    text-align: center;
    margin-top: 10%;
    padding: 20px;
}

.my-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
    padding: 20px;
}

.my-small-form {
    min-width: 150px;
    padding: 20px;
}

.full-width {
    width: 100%;
}

.nav-2 {
    color: white;
    background-color: rgb(86, 86, 167);
    height: 40px;
    font-weight: 900;
    font-style: inherit;
    font-feature-settings: "blwf";
    font-size-adjust: inherit;
}

.login-main {
    margin-top: 10%;
    width: 550px;
}

mat-card {
    min-width: 40%;
}

.image {
    height: 1000px;
    background-size: cover;
    background-position: 100% 100%;
    background-color: white;
}

.photo {
    height: 150px;
    width: 100%;
    margin-left: 4px;
}

.head-photo {
    height: 300px;
    width: 100%;
}

.top-left-b1 {
    position: absolute;
    top: 130px;
    left: 150px;
    color: #19498d;
    font-weight: 700;
}

.top-left-b2 {
    position: absolute;
    top: 230px;
    left: 250px;
    background-color: #19498d;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.top-left-b {
    position: absolute;
    top: 400px;
    left: 200px;
    width: 30%;
}

.top-left-s1 {
    position: absolute;
    top: 75px;
    left: 20px;
    color: #19498d;

    font-weight: 700;
    border-radius: 5px;
}

.top-left-s2 {
    position: absolute;
    top: 200px;
    left: 20px;
    color: #19498d;
    font-weight: 700;
}

.top-left-b3 {
    position: absolute;
    top: 260px;
    left: 500px;
    color: #19498d;
    font-weight: 700;
}

.top-left-s3 {
    position: absolute;
    top: 200px;
    left: 200px;
    color: #19498d;
    font-weight: 700;
}

.has-margin {
    margin: 4%;
    margin-left: 8%;
    margin-right: 8%;
    min-height: 700px;
    box-shadow: 0 4px 20px 0px #19498d, 0 7px 10px -5px rgba(#19498d, 0.4);
}

.has-margin-blue {
    background: linear-gradient(to bottom, #c9d9f1e7 0%, white 50%);
}

.has-margin-purple {
    background: linear-gradient(to bottom, #f1c9e2e7 0%, white 50%);
}

.has-margin-green {
    background: linear-gradient(to bottom, #c9f1dae7 0%, white 50%);
}

.has-margin-white {
    background: white;
}

.profile {
    min-height: 800px;
    padding-top: 0px;
    margin-right: -10%;
    box-shadow: 0 4px 20px 0px #19498d;
    background-color: #e0f0f7;
    background-blend-mode: exclusion;
}

.provider-photo {
    width: 100px;
    height: 100px;
}

.search-button {
    margin-bottom: 20px;

    width: 200px;
    background-color: #19498d;

    font-weight: 600;
    font-size: medium;
    padding: 5px;
    border-radius: 25px;
    a {
        color: white;
    }
}

.active {
    color: blue;
    font-weight: bolder;
}

.non-active {
    color: blue;
}

.search-button-cell {
    margin-bottom: 30px;

    width: 20%;
    margin-right: 8%;

    font-weight: 600;
    font-size: medium;
    padding: 0px;
    border-radius: 25px;

    a {
        color: white;
    }
}

.active-cell {
    color: white;
    font-weight: 800;
    font-size: large;
}

.non-active-cell {
    width: 15%;
    font-size: medium;

    img {
        width: 50px;
        height: 50px;
    }
}

.register-image {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.provider-image {
    height: 200px;
    width: 270px;
    border-radius: 25px;
    box-shadow: 0 4px 20px 0px #19498d, 0 7px 10px -5px rgba(#19498d, 0.4);
}

.pc-provider-item {
    
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    position:absolute;
    top:0px;
    .input-item{
        display:inline;
        position: absolute;
        margin-top:2%; 
        margin-left:70%; 
    
    input{
        margin-left:20px;
        margin-right:0px;
        margin-bottom:20px;
        border-radius: 25px;
        width:100%;
        border-color: transparent;
        background: white;
        float:left;
  }
  i{
      margin-left:-25px;
      margin-top:5px;
      float:left;
  }
}
    .pc-provider-item-header {
      //  margin-top: 0%;
        margin-left: 0px;; 
        min-width: 1800px;
        opacity: 1;
        border-radius: 4px;
        box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.08);
        text-align: center;
    .pc-provider-item-header-outter {
            height: 42px;
           // padding-top:10px;
           // background: #ffffff;
          //  border: 1px solid #eeeeee;
            float: left;
            width: 13%;
            .non-active {
                width: 80%;
                margin-left: 10%;
                padding:2px;
                padding-top:15px;
                a {
                    text-decoration: none;
             
                    p {
                        font-size:medium;
                        font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                        font-weight: 600;
                        text-align: center;
                        vertical-align: middle;
                        // color: #333333;
                        //color: #333333;
                       // color: #ffffff;
                        line-height: 14px;
                        letter-spacing: 0px;
                    }
                }
            }
            .active {
                background-color:#ffffff; 
                width: 80%;
                padding:2px;
                padding-top:15px;
                margin-left: 10%;
                a {
                    text-decoration: none;
             
                    p {
                        font-size:medium;
                        font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                        font-weight: 800;
                        text-align: center;
                        vertical-align: middle;
                        
                        // color: #333333;
                        //color: #333333;
                        color: #180569;
                        line-height: 14px;
                        letter-spacing: 0px;
                    }
                }
            }
           
        }
       
    .pc-provider-item-header-outter1 {
           // height: 42px;
            background: #ffffff;
            width: 30%;
            border: 1px solid #eeeeee;
            float: left;
            input {
                font-size: 14px;
                margin: 2% 2%;
                height: 26px;
                line-height: 20px;
                width: 60%;
                opacity: 1;
                background: #ffffff;
                border: 1px solid #dadada;
                border-radius: 25px;
            }
            img {
                width: 23%;
                vertical-align: middle;
            }
        }
    }
    .pc-provider-item-desc {
       
        .pc-provider-item-right {
            margin: 2%;
            margin-top:10%;
            width: 30%;
            float: right;
           
           
            .pc-provider-item-right-p1 {
            
                border-radius:50px;
                padding:40px;
                font-size: 25px;
                font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                font-weight: 600;
                margin-top:150px;
                text-align: left;
               // color: #ffffff;
                line-height: 56px;
                letter-spacing: 0px;
            }
            img{
                width:500px;
            }
      
        }
        .pc-provider-item-left {
            margin: 5%;
            margin-top:10%;
            width: 55%;
            float:left;
            img {
                width: 80%;
            }
            .pc-provider-item-left-p1 {
               // background-color: #ffffff;
                border-radius:50px;
                padding:40px;
                opacity: 1;
                text-shadow: 0px 3px 2px rgb(133, 135, 139);
                font-size: 60px;
                font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-weight: 700;
                text-align:left;
               // color: #652d99;
               // color:rgb(21, 94, 161);
                line-height: 40px;
            }
            .pc-provider-item-left-p2 {
                // background-color: #ffffff;
                 border-radius:50px;
                 padding:40px 40px 0px 40px;
                 opacity: 1;
              
                 font-size: 20px;
                 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                 font-weight: 500;
                 text-align:left;
               //  color: #652d99;
              // color:rgb(21, 94, 161);
                 line-height: 40px;
             }
             .pc-provider-item-left-p3 {
                

                 text-align:center;
                 a{
                    font-weight: 550;
                    font-size: 20px;
                 //   background-color:#652d99;
              //   background-color:rgb(21, 94, 161);
                    color:white;
                    
                        padding:10px 50px 10px 50px;
                    
                 }
                
                 
             }
        }
    }
    .pc-provider-item-bottom-heathy {
        margin: 5% 15% ;
        padding-bottom:3%;
        overflow: auto;
        height: 100vh;
        box-shadow: 16px 12px 16px 16px rgba(0, 0, 0, 0.08);
        border-radius:20px;
        min-height:80%;
        .pc-provider-item-bottom-heathy-main-img {
            margin: 5% 10%;
            text-align: center;
            vertical-align: middle;
            padding:7%;
            height:150px;
        }
        .pc-provider-item-bottom-heathy-div {
            background: #ffffff;
            float: left;
            width: 23%;
            margin: 1% 1%;
            border-radius:10px;
          
        }
        .pc-provider-item-bottom-heathy-describe {
            margin: 8% 8%;
            word-wrap: break-word;
            word-break: break-all;
            opacity: 1;
            font-size: 18px;
            font-family: SourceHanSansSC, SourceHanSansSC-Bold;
            font-weight: 700;
            text-align: center;
            color: #6e6969;
            line-height: 18px;
            
            
        }
        .pc-provider-item-bottom-heathy-down {
            float: left;
            margin: 5%;
            img {
                float: left;
                height: 32px;
            }
            p {
                margin: 10px;
                float: right;
                font-size: 12px;
                font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                font-weight: 400;
                text-align: left;
                color: #6e6969;
                line-height: 16px;
                height:50px;
                overflow: hidden;
              
            }
        }
    }

    .pc-provider-item-bottom-doctor {
        margin: 5% 15% ;
        padding:1%;
        overflow: auto;
       // height: 100vh;
        box-shadow: 16px 12px 16px 16px rgba(0, 0, 0, 0.08);
        border-radius:20px;
        min-height:80%;
        .pc-provider-item-div {
              
            border: 1px solid #eeeeee;
           
           // width: 90%;
            margin: 2% 1% 1% 3%;
            background-color: white;
            width:45%;
            padding-left:60px;
            border-radius:15px;
            height:180px;
            float:left;
            box-shadow: 0 4px 10px 0px rgb(192, 210, 235), 0 7px 10px -5px rgb(122, 167, 230);;
            
            .pc-provider-item-main-img {
               
                width: 120px;
                height: 120px;
                border-radius:60px;
                float:left;
                margin-left:-20%;
                margin-top:25px;
                box-shadow: 0 4px 10px 0px rgb(192, 210, 235), 0 7px 10px -5px rgb(122, 167, 230);;
            
            }
            .pc-provider-item-main-content{
               
                padding-left:5px;
                height:60;
                overflow: hidden;
                padding:20px;
                .pc-provider-item-title-1 {
                    word-wrap: break-word;
                    word-break: break-all;
                    opacity: 1;
                    font-size: 20px;
                    font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                    font-weight: 600;
                    text-align: center;
                    color: #6e6969;
                    line-height: 20px;
                }
                .pc-provider-item-title-2 {
                    word-wrap: break-word;
                    word-break: break-all;
                    opacity: 1;
                    font-size: 16px;
                    font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                    font-weight: 500;
                    text-align: center;
                    color: #6e6969;
                    line-height: 20px;
                }
                .pc-provider-item-describe {
                    word-wrap: break-word;
                    word-break: break-all;
                    opacity: 1;
                    font-size: 14px;
                    font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                    font-weight:400;
                    text-align: center;
                    color: #7e7575;
                    line-height: 16px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

            }
          
            .pc-provider-item-bottom-down {
                float: left;
                img {
                    float: left;
                    height: 32px;
                }
                p {
                    margin-right: 0 10px 0 0;
                    float: right;
                    opacity: 1;
                    font-size: 10px;
                    font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: #333333;
                    line-height: 10px;
                }
            }
        }
    }

    .pc-provider-item-bottom-office {
        margin: 5% 15% ;
        padding:1%;
        overflow: auto;
       // height: 100vh;
        box-shadow: 16px 12px 16px 16px rgba(0, 0, 0, 0.08);
        border-radius:20px;
        min-height:80%;
        .pc-provider-item-bottom-office-div {
            background: #ffffff;
           // float: left;
           // width: 46%;
            margin: 2% 2%;
            border-radius:25px;
            height:160px;
            .pc-provider-item-bottom-office-main-img {
                float: left;
                width: 15%;
                height:100%;
                border-radius:  35px;
                padding:20px;
                margin-top:0px;
                margin-bottom:15px;
            }
            .pc-provider-item-bottom-office-down {
                float: auto;
                .pc-provider-item-bottom-office-down-up {
                    #pc-provider-item-bottom-office-headImg {
                        margin-top: 3%;
                        margin-left: 2%;
                        float: left;
                        width: 15%;
                    }
                    .pc-provider-item-bottom-office-down-main {
                        width: 80%;
                        float: right;
                        p {
                            text-align: center;
                            vertical-align: middle;
                            margin-top: 2%;
                            width: 100%;
                            font-size: 16px;
                            font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                            font-weight: 700;
                            text-align: left;
                            color: #333333;
                            line-height: 16px;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                        .pc-provider-item-bottom-office-down-main-bottom {
                            width: 80%;
                            float: left;
                            span {
                                font-size: 12px;
                                text-align: center;
                                vertical-align: middle;
                            }
                            #pc-office-1 {
                                color: #6483f6;
                            }
                            #pc-office-2 {
                                color: #f07867;
                            }
                            #pc-office-3 {
                                color: #00bd9b;
                            }
                        }
                    }
                }
                .pc-provider-item-bottom-office-down-p {
                    margin: 1%;
                    float: right;
                    width:80%;
                    word-wrap: break-word;
                    word-break: break-all;
                    opacity: 1;
                    font-size: 14px;
                    font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: #686868;
                    line-height: 20px;
                }
            }
        }
    }
}
#pc-provider-item-footer {
    height: 20px;
    font-size: 14px;
    font-family: SourceHanSansSC, SourceHanSansSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #333333;
    line-height: 20px;
}
.phone-heathy-header {
    // border: 1px solid #eeeeee;
    
        width: 100%;
        height:250px;
        
        text-align: center;
         opacity: 0.99;
         font-size: 25px;
         font-family: SourceHanSansSC, SourceHanSansSC-Regular;
         font-weight: 800;
         text-align: center;
         color: #ffffff;
         line-height: 24px;
         padding-bottom:20px;
         border-radius:0 0 50px 50px;
         box-shadow: 0 4px 10px 0px rgb(196, 188, 207), 0 7px 10px -5px rgb(105, 101, 109);;
                 
        // padding-bottom:120px;
     
     
 }
.phone-service {

    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    position:absolute;
    top:0px;

   
  
    .phone-service-desc {
       
       
        .phone-item {
            margin: 5%;
            margin-top:10%;
            img {
                margin-top:10%;
                width: 100%;
                float:center;
                padding:15%;
                
            }
            .phone-item-p1 {
               // background-color: #ffffff;
               height:150px;
                border-radius:50px;
                padding:2%;
                opacity: 1;
                text-shadow: 0px 3px 2px rgb(133, 135, 139);
                font-size: 35px;
                font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-weight: 600;
                text-align:center;
                padding-bottom:10%;
               // color: #652d99;
               // color:rgb(21, 94, 161);
                line-height: 40px;
            }
            a{
                color:white;
                float:right;
            }
           
        }
       
    }
    .phone-profile-item {
            
            background-color:  transparent;
            margin-top:100px;
            
            padding-top:30px;
            padding-bottom:50px;
            input{
            
                border-radius: 25px;
                width:70%;
                 margin-left:50px;
                height:30px;
                background: white;
               
          }
          i{
              margin-left:-25px;
              margin-top:5px;
              float:left;
             color:black;
          }
             .phone-heathy-bottom-div {
                 
                 border: 1px solid #eeeeee;
                
                // width: 90%;
                 margin: 5% 5% 5% 13%;
                 background-color: white;
                 padding:10px;
                 border-radius:15px;
                 height:110px;
                 box-shadow: 0 4px 10px 0px rgb(192, 210, 235), 0 7px 10px -5px rgb(122, 167, 230);;
                 
                 .phone-heathy-bottom-main-img {
                    
                     width: 60px;
                     height: 60px;
                     border-radius:30px;
                     float:left;
                     margin-left:-15%;
                     margin-top:10px;
                 }
                 .phone-heathy-bottom-main-content{
                    
                     padding-left:5px;
                     height:60;
                     overflow: hidden;
                     .phone-heathy-bottom-title {
                         word-wrap: break-word;
                         word-break: break-all;
                         opacity: 1;
                         font-size: 16px;
                         font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                         font-weight: 600;
                         text-align: center;
                         color: #6e6969;
                         line-height: 20px;
                     }
                     .phone-heathy-bottom-describe {
                         word-wrap: break-word;
                         word-break: break-all;
                         opacity: 1;
                         font-size: 12px;
                         font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                         font-weight:400;
                         text-align: center;
                         color: #7e7575;
                         line-height: 16px;
                         display: -webkit-box;
                         -webkit-line-clamp: 3;
                         -webkit-box-orient: vertical;
                         overflow: hidden;
                     }
     
                 }
               
                 .phone-heathy-bottom-down {
                     float: left;
                     img {
                         float: left;
                         height: 32px;
                     }
                     p {
                         margin-right: 0 10px 0 0;
                         float: right;
                         opacity: 1;
                         font-size: 10px;
                         font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                         font-weight: 400;
                         text-align: left;
                         color: #333333;
                         line-height: 10px;
                     }
                 }
             }
         }
    .phone-provider-item {
            
            background-color:  transparent;
            margin-top:100px;
            
            padding-top:30px;
            padding-bottom:50px;
            input{
            
                border-radius: 25px;
                width:70%;
                 margin-left:50px;
                height:30px;
                background: white;
               
          }
          i{
              margin-left:-25px;
              margin-top:5px;
              float:left;
             color:black;
          }
             .phone-provider-div {
                 
                 border: 1px solid #eeeeee;
                 float:left;
                 width: 40%;
                 margin: 5% ;
                 background-color: white;
                 padding:10px;
                 border-radius:15px;
                 height:150px;
                 box-shadow: 0 4px 10px 0px rgb(192, 210, 235), 0 7px 10px -5px rgb(122, 167, 230);;
                 
                 .phone-provider-div-img {
                    
                     width: 70px;
                     height: 70px;
                     border-radius:35px;
                     margin-top:-15px;
                 }
                 .phone-provider-div-content{
                    
                     padding-left:5px;
                     height:60;
                     overflow: hidden;
                     margin-top:10px;
                     .phone-provider-div-title {
                         word-wrap: break-word;
                         word-break: break-all;
                         opacity: 1;
                         font-size: 20px;
                         font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                         font-weight: 600;
                         text-align: center;
                         color: #6e6969;
                         line-height: 20px;
                     }
                     .phone-provider-div-desc-1 {
                         word-wrap: break-word;
                         word-break: break-all;
                         opacity: 1;
                         font-size: 16px;
                         font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                         font-weight:500;
                         text-align: center;
                         color: #7e7575;
                         line-height: 16px;
                         display: -webkit-box;
                         -webkit-line-clamp: 3;
                         -webkit-box-orient: vertical;
                         overflow: hidden;
                     }
                     .phone-provider-div-desc-2 {
                        word-wrap: break-word;
                        word-break: break-all;
                        opacity: 1;
                        font-size: 12px;
                        font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                        font-weight:400;
                        text-align: center;
                        color: #7e7575;
                        line-height: 16px;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
     
                 }
               
                 .phone-provider-div-down {
                     float: left;
                     img {
                         float: left;
                         height: 32px;
                     }
                     p {
                         margin-right: 0 10px 0 0;
                         float: right;
                         opacity: 1;
                         font-size: 10px;
                         font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                         font-weight: 400;
                         text-align: left;
                         color: #333333;
                         line-height: 10px;
                     }
                 }
             }
      
         }
    .phone-article-item {  
            background-color:  transparent;
            margin-top:100px;
            
            padding-top:30px;
            padding-bottom:50px;
            input{
            
                border-radius: 25px;
                width:70%;
                 margin-left:50px;
                height:30px;
                background: white;
               
          }
          i{
              margin-left:-25px;
              margin-top:5px;
              float:left;
             color:black;
          }
         .phone-article-div {
             
            border: 1px solid #eeeeee;
            margin: 3% ;
            background-color: white;
            padding:10px;
            border-radius:15px;
            height:150px;
              overflow: hidden;
            box-shadow: 0 4px 10px 0px rgb(192, 210, 235), 0 7px 10px -5px rgb(122, 167, 230);;
            
            .phone-article-div-img {
               img{
                float: left;
                width: 30%;
                height:80%;
                border-radius:  35px;
               } 
            }
            .phone-article-div-content{
                float:right;
                width:70%;
                overflow: hidden;
               
                .phone-article-div-title {
                   
                    word-wrap: break-word;
                    word-break: break-all;
                    opacity: 1;
                    font-size:16px;
                    font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                    font-weight: 600;
                    text-align: center;
                    color: #6e6969;
                    line-height: 20px;
                
                }
                .phone-article-div-author {
                   
                   word-wrap: break-word;
                   word-break: break-all;
                   opacity: 1;
                   font-size: 12px;
                   font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                   font-weight: 400;
                   text-align: center;
                   color: #5457e7;
                   line-height: 10px;
                    .phone-article-office{
                  
                        float:left;
                        width:50%;
                    }
                   
                }
              
            

            }
            .phone-article-div-desc {
                word-wrap: break-word;
                word-break: break-all;
                opacity: 1;
                font-size: 12px;
                font-family: SourceHanSansSC, SourceHanSansSC-Bold;
                font-weight:400;
                text-align: center;
                color: #7e7575;
                line-height: 16px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
               
            }
        }
    }
    .footer {
        position: fixed;
        z-index: 1;
        bottom: 0;
        left:0;
        width: 100%;
        background: white;
        text-align: center;
      // box-shadow: 16px 12px 16px 12px  rgba(0, 0, 0, 0.08);
        margin-left: 0px;; 
        opacity: 1;
     
        .footer-item {
            float: left;
         
            width: 20%;
            a{
                p {
                    opacity: 1;
                    font-size: 15px;
                    font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                    font-weight: 600;
                    text-align: center;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 11px;
                    padding-bottom:11px;
                    margin:0px;
                }
              
            }
            .active{
                
                p {
                    opacity: 1;
                    font-size: 15px;
                    font-family: SourceHanSansSC, SourceHanSansSC-Regular;
                    font-weight: 600;
                    text-align: center;
                    color: white;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 11px;
                    padding-bottom: 11px;
                    margin:0px;
                }
             
            }
 
        }

    }
}

