<div class="wrapper">
  <div class="overlay" *ngIf="loading">
    <div class="spinner-wrapper">
      <app-spinner></app-spinner>
    </div>
  </div>

  <div class='pc-wapper' *ngIf='profile&&bigScreen==1'>
    <div class="card">
      <div class="top-content-box">
        <div class="picbox">
          <img [src]="getUrl(profile.image)" />
        </div>
        <div class="top-content">
          <h3>{{profile.label.ch}}</h3>
          <ul class="clearfix">
            <li (click)='education=false;expert=false;registry=true;' *ngIf="forms&&forms.length>0">
              <span *ngIf="language=='Chinese'">{{forms[0].label.ch}}</span>
              <span *ngIf="language=='English'">{{forms[0].label.en}}</span>
            </li>
            <li (click)='submit()'>
              <span *ngIf="language=='Chinese'">咨询</span>
              <span *ngIf="language=='English'">Specialist</span>
            </li>
            <li (click)='providerRegister()'>
              <span *ngIf="language=='Chinese'">医生加盟</span>
              <span *ngIf="language=='English'">physician register</span>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf='forms'>
        <app-form [forms]='forms' [profile]='profile' [color]='color' [language]='language' [popOut]='popOut'
          [emBedSet]=false [showInstruction]=true (messageEvent)="receiveMessage($event)">
        </app-form>
      </div>
    </div>
  </div>


  <div class='wap-wapper' *ngIf='bigScreen==0&&profile'>
    <div class='cell-title'>
      <span *ngIf="language=='Chinese'&&forms">{{forms[0].label.ch}}</span>
      <span *ngIf="language=='English'&&forms">{{forms[0].label.en}}</span>
    </div>
    <div class="picbox card"><img [src]="getUrl(profile.image)" /></div>
    <div class="formbox" *ngIf='forms'>
      <app-form [forms]='forms' [profile]='profile' [color]='color' [language]='language' [popOut]='popOut'
        [emBedSet]=false [showInstruction]=true (messageEvent)="receiveMessage($event)">
      </app-form>
    </div>
    <div class='profile-bottom'>
      <div class="item">
        <a class='btn btn-block btn-base' (click)='goToHome()'>
          <span>所有项目</span>
        </a>
      </div>
      <div class="item">
        <a class='btn btn-block btn-base' (click)='followup=true;submit()' href="javascript:void(0);">
          <span>智能管理</span>
        </a>
      </div>
      <div class="item">
        <a class='btn btn-block btn-base' (click)='consult=true;submit()' href="javascript:void(0);">
          <span>去咨询</span>
        </a>
      </div>
    </div>
  </div>
