<div class='main-layout' [ngClass]="{'sidbarhidden': !sidebarShow}" *ngIf=" bigScreen==1||!bigScreen">
  <div class='sidebar-container'>
    <app-sidebar [sidebarShow]='sidebarShow' [menuItems]='menuItems'></app-sidebar>
  </div>
  <div class="main-container">
      <div class="navbar">
        <div class="navbar-left">
          <span (click)="sidebarShow = !sidebarShow"><img src="../../../../../assets/images/core/fold.png" alt=""></span>
          <span>欢迎登录数基健康·医生端</span>
        </div>
        <div class="navbar-right" (click)='goIndex()'>
          <div class="heard"></div>
          <div class="txt">
            <span>HOME</span>
            <span>返回官网首页</span>
          </div>
          <div class="arrow-down"><img src="../../../../../assets/images/core/arrow-down.png" alt=""></div>
        </div>
      </div>
    
    <div class="app-main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class='cell-layout' *ngIf=" bigScreen==0">
<provider-folder></provider-folder>
</div>