@import 'src/assets/scss/base.scss';
.wapper {
    position: relative;
    .closebox {
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .nav {
        padding: 5px 30px 0px;
        ul {
            margin-bottom: 0;
        }
        .nav-item {
            font-size: $fontSize16;
            color: $lightBluefontColor;
            height: 42px;
            line-height: 42px;
            font-weight: 600;
        }
    }
    .scrollbox {
        max-height: calc(100vh - 130px);
        overflow-y: auto;
    }
    .card {
        z-index: 0;
    }
}
::ng-deep .mat-step-label {
    font-size: $fontSize16;
    color: $darkfontColor;
}
::ng-deep .mat-horizontal-stepper-header {
    height: 60px!important;
}
::ng-deep .mat-horizontal-content-container {
    padding: 0 10px 0!important;
}
.tab-left span {
    font-size: $fontSize16;
    color: $darkfontColor;
}
.selected {
    background: $lightBluefontColor;
    span {
        color: #fff;
    }
}
.yzheight {
    max-height: calc(100vh - 218px);
    overflow-y: auto;
    background: $white;
}
:host ::ng-deep .imagebox {
    .card-pc {
        height: calc(100vh - 170px);
    }
}