<!-- pc-wap -->
<div class="container-reset-password-pc" [ngClass]="{'wap-wapper': 'bigScreen==0'}">
    <div class="public-main">
      <!-- <div class="public-main-left1">
        <p class="public-p1">医疗智慧调研平台</p>
        <div>
          <img src="" alt="">
          <p id="pc-reset-password-return-button" [routerLink]="['/public-platform/homepage/main']">返回首页</p>
        </div>
        <img src="assets/images/login/login1.png" alt="">
        <p>@2021 digitalbaseas.com </p>
        <p>蜀ICP备19034283号-1 四川数字基石信息科技有限公司</p>
      </div> -->
      <div class="public-main-right1">
        <!-- <div>
          <img src="assets/images/login/login_logo.png" alt="" class="pc-reset-password-logo">
        </div> -->
        <div>
          <div class="pc-reset-password-main-left">
            <div id="pc-reset-password-main-message">重置密码</div>
            <mat-card-content>
              <div class="pc-reset-password-main-input">
                <mat-form-field class="full-width">
                  <mat-label>
                    <span>原密码</span>
                  </mat-label>
                  <input matInput [(ngModel)]="originalPassword" type='password'>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>
                    <span>新密码</span>
                  </mat-label>
                  <input matInput [(ngModel)]="password" type='password'>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>
                    <span>确认新密码</span>
                  </mat-label>
                  <input matInput [(ngModel)]="confirmPassword" type='password'>
                </mat-form-field>
              </div>
            </mat-card-content>
          </div>
        </div>
        <button class="btn pc-reset-password-button" (click)="confirm()">确定</button>
      </div>
    </div>
  </div>