
<div class="wrapper">
  <div class="overlay" *ngIf="loading">
    <div class="spinner-wrapper" >
      <spinner></spinner>
    </div>
    </div>
<div *ngIf='provider&&bigScreen==1'>
 
  <img [src]="background" alt=""  
  [ngStyle]="{'height':screenHeight!=undefined?screenHeight:'800px',
              'width':screenWidth}"
              *ngIf='!fromService' 
  >
    <div *ngIf='fromService' class='form-service'>
      <div class="pc-provider-fromService-desc" >
      
        <div class="pc-provider-fromService-right" 
        [ngStyle]="{'color':provider.activity.textColor}">
          <p class="pc-provider-fromService-right-p1">
            {{provider.name}},&nbsp;&nbsp;&nbsp;
            {{provider.title}}&nbsp;&nbsp;&nbsp;
            {{provider.specialty}}
            
          </p>
          
            <div *ngFor='let item of breakLines(provider.desc)'
                class="pc-provider-fromService-right-p2">
              {{item}}
              </div >
        
        </div>
        <div class="pc-provider-fromService-left">
          <img [src]="photo"  >
          
        </div>
      
      </div>
    </div>         
  <div class="pc-provider-item"  *ngIf='!fromService'>
        
   
    <div class="pc-provider-item-header">
      <mat-toolbar class='nav'>
        <div class="pc-provider-item-header-outter"></div>
        <div class="pc-provider-item-header-outter"
          (click)="search='';profileSelected=false;descSelected=true;mapSelected=false;
          articleSelected=false;"
         >
          <div  [ngClass]="{'active':descSelected,'non-active':!descSelected}">
            <a href="javascript:void(0);">
              <p>主页</p>
            </a>
          </div>
        </div>
        <div class="pc-provider-item-header-outter"
          (click)="search='';profileSelected=true;descSelected=false;mapSelected=false;getProfiles();articleSelected=false;"
         >
          <div  [ngClass]="{'active':profileSelected,'non-active':!profileSelected}">
            <a href="javascript:void(0);">
              <p>调研项目</p>
            </a>
          </div>
        </div>
   
        <div class="pc-provider-item-header-outter" 
        (click)="search='';profileSelected=false;descSelected=false;mapSelected=false;articleSelected=true;
        getArticles();">
          <div  [ngClass]="{'active':articleSelected,'non-active':!articleSelected}">
            <a href="javascript:void(0);">
              <p>科研文章</p>
            </a>
          </div>
        </div>
        <div class="pc-provider-item-header-outter" >
          <div class='non-active'>
            <a href="javascript:void(0);">
              <p>登录</p>
            </a>
          </div>
        </div>
       <!--<div class="pc-provider-item-header-outter1">
          <input [(ngModel)]="search" placeholder="搜索" #textInput>
          <img src="assets/images/provider/item/Light_Button_Primary_Text.png" alt="">
        </div>--> 
      </mat-toolbar>
    </div>
    <div class='input-item' *ngIf='!descSelected'>
      <input class='form-control'  [(ngModel)]="search"><i class="material-icons">search</i>
     </div>
    <div class="pc-provider-item-desc" *ngIf="descSelected">
      
      <div class="pc-provider-item-left">
        <img [src]="photo"  >
       
      </div>
    
      <div class="pc-provider-item-right" 
      [ngStyle]="{'color':provider.activity.textColor}">
        <p class="pc-provider-item-right-p1">{{provider.name}}</p>
        <div *ngFor='let item of breakLines(provider.desc)'
                          class="pc-provider-fromService-right-p2">
                        {{item}}
                       </div >
      
        <div class='pc-provider-item-right-p3'>
        <a class='btn btn-round ' [ngStyle]="{'background-color':provider.activity.textColor}">登录</a>
        <a class='btn btn-round' [ngStyle]="{'background-color':provider.activity.textColor}">consult</a>
      </div>
      </div>
     
    
    </div>
    <div class='pc-provider-item-bottom-heathy'  *ngIf="profileSelected">
      <div class='pc-provider-item-bottom-heathy-left'>
         <img [src]="photo">
         <span>
           {{provider.name}},&nbsp;{{provider.title}}
          </span>
        <div class="card pc-provider-item-bottom-heathy-div" 
        *ngFor='let profile of provider.profiles|filter:search'
        (click)='getForms(profile)'
         [ngClass]="{'selected':profile._id==selectedProfile._id,
                     'non-selected':profile._id!=selectedProfile._id}">
          <img [src]="getUrl(profile.image)" alt="" class='pc-provider-item-bottom-heathy-main-img'>
   
          <span class="pc-provider-item-bottom-heathy-describe"
           *ngIf='profile.label'>
           <p>{{profile.label.ch}}</p>
          </span>
          <div class="pc-provider-item-bottom-heathy-down">
            <p>{{profile.desc.patient}}</p>
          </div>
        </div>
      </div>
    <div class="pc-provider-item-bottom-heathy-right"
    [ngStyle]="{'background-image':'-webkit-gradient(linear, left top, right top, 
    color-stop(0%,'+ getBackgroundColor(provider.activity.textColor,0.9)+'), 
    color-stop(100%,rgba(125,185,232,0)))'}"
    >
    <mat-tab-group *ngIf='forms'>
      <mat-tab *ngFor='let form of forms' label="{{form.label.ch}}">
        <app-form [forms]='[form]' [showInstruction]=true></app-form>
      </mat-tab>
    </mat-tab-group>

    
     
    </div>
   
    </div>

    <div class="pc-provider-item-bottom-office"     
    [ngStyle]="{'background-image':'-webkit-gradient(linear, left top, right top, 
    color-stop(0%,'+ getBackgroundColor(provider.activity.textColor,0.9)+'), 
    color-stop(100%,rgba(125,185,232,0)))'}" 
    *ngIf="articleSelected">
    <div class='article'  *ngIf='!selectedArticle'>
      <div class="pc-provider-item-bottom-office-div" 
      *ngFor='let article of articles|filter:search'
        (click)='selectedArticle=article;selectArticle(article)'>
        <img [src]="getUrl(article.image)" alt="" class="pc-provider-item-bottom-office-main-img">
        <div class="pc-provider-item-bottom-office-down">
          <div class="pc-provider-item-bottom-office-down-up">
            <!-- <img src="assets/images/office/Bitmap.png" alt="" id="pc-provider-item-bottom-office-headImg"> -->
            <div class="pc-provider-item-bottom-office-down-main">
              <p>{{article.label.ch}}</p>
              <div class="pc-provider-item-bottom-office-down-main-bottom">
                <span id="pc-office-1" *ngIf='article.createdBy'>
                  {{article.createdBy.name}},
                  {{article.createdBy.title}}
                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span id="pc-office-1">{{article.createdAt|date: 'yyyy/MM/dd hh:mm'}}</span>
              </div>
            </div>
          </div>
          <p class="pc-provider-item-bottom-office-down-p">
            {{article.desc.patient}}
          </p>
        </div>
      </div>
      </div>
      <div class='article' *ngIf='selectedArticle'>
        <div class='row' style='width:98%;padding:0; margin:0px;'>
          <div class='col-sm-9'> 
            <div style='font-size:20px; font-weight:600'
            [ngStyle]="{'color':provider.activity.textColor}">
              {{selectedArticle.label.ch}}
              <div style='font-size:16px; font-weight:500'
              [ngStyle]="{'color':provider.activity.textColor}">
                <span id="pc-office-1" *ngIf='selectedArticle.createdBy'>
                  {{selectedArticle.createdBy.name}},
                  {{selectedArticle.createdBy.title}}
                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span id="pc-office-1">
                  {{selectedArticle.createdAt|date: 'yyyy/MM/dd hh:mm'}}
                </span>
              </div>
            </div>
          </div>
          <div class='col-sm-3'>
        <a class='btn btn-round btn-primary'  
        [ngStyle]="{'background-color':provider.activity.textColor}"
        (click)='selectedArticle=null'>所有</a>
      </div>
      </div>
      <div style='height:70vh; overflow-y: auto;'>
        <app-form [forms]='[selectedArticle]'></app-form>
      </div>
      </div>
    </div>
  </div>
  </div>
 
  
  <div *ngIf='provider&&bigScreen==0'>
    
   
    <div class='phone-heathy-header ' 
    [ngStyle]="{'background-color':provider.activity.textColor}"*ngIf="!descSelected&&!introSelected">
      
    </div>
    <img [src]="background" alt=""  
    style='margin-top:-100px;'
    [ngStyle]="{'height':screenHeight!=undefined?screenHeight:'800px',
                'width':screenWidth}" *ngIf='!fromService'>
      
  <div class="phone-service" >
    <div class="phone-service-intro" *ngIf="descSelected"
      [ngStyle]="{'color':provider.activity.textColor}">

      <img [src]="photo" >

      <p class="phone-item-p1"> 
        {{provider.name}},&nbsp;&nbsp;&nbsp;
        {{provider.title}}&nbsp;&nbsp;&nbsp;
        {{provider.specialty}}</p>
      
      <div class="phone-item-p2" *ngFor='let item of breakLines(provider.desc) '>{{item}}</div>
      
     <a class='btn' [hidden]=true ></a>  

    </div>
      
  <div class='phone-profile-item' *ngIf="profileSelected&&!fromService">
        <div style='display:inline'>
        <input class='form-control'  [(ngModel)]="search"><i class="material-icons">search</i>
      </div>
      <div *ngIf='!selectedProfile'>
        <div class="phone-heathy-bottom-div" *ngFor='let profile of profiles|filter:search'
         (click)='getForms(profile)'>
        <img [src]="getUrl(profile.image)" alt=""  
        class="phone-heathy-bottom-main-img">
        <div class='phone-heathy-bottom-main-content'>
       
        <p class="phone-heathy-bottom-title" *ngIf='profile.label'>{{profile.label.ch}}</p>
        <div class="phone-heathy-bottom-describe">
          <!-- <img src="assets/images/provider/item/Ellipse.png" alt=""> -->
          <p>{{profile.desc.patient}}</p>
        </div>
       </div>
      </div>
    </div>
    <div *ngIf='selectedProfile' class='pop-out'
    >
       

        <div style='font-size: 20px;font-weight: 600;text-align:center'
        [ngStyle]="{'color':provider.activity.textColor}">{{profile.label.ch}}
        </div>
        <div    style=' text-align:right'>
        <a class='btn btn-round btn-primary'  
        style='font-size:12px;'
        [ngStyle]="{'background-color':provider.activity.textColor}"
        (click)='selectedProfile=null'>返回</a>
        <a class='btn btn-round btn-primary'  
        style='font-size:12px;'
        [ngStyle]="{'background-color':provider.activity.textColor}">去咨询</a>
         </div>
       <div style='height:80vh; overflow:auto'>
        <app-form [forms]='forms'  [showInstruction]=true
        ></app-form>
      </div>
      
      </div>
     
     </div>

  <div class="phone-article-item" *ngIf="articleSelected&&!fromService">
      <div style='display:inline'>
        <input class='form-control'  [(ngModel)]="search"><i class="material-icons">search</i>
      </div>
      
      <div *ngIf='!selectedArticle'>
      <div class="phone-article-div" *ngFor='let article of articles|filter:search'
        (click)='selectedArticle=article; selectArticle(article);'>
        <div class="phone-article-div-img">
          <img [src]="getUrl(article.image)" alt="" >
        </div>
        <div class="phone-article-div-content">
       
            <!-- <img src="assets/images/office/Bitmap.png" alt="" class="phone-provider-item-bottom-office-headImg"> -->
           
              <p class="phone-article-div-title">{{article.label.ch}}</p>
              <div class="phone-article-div-author">
                <span class="phone-article-office">
                  {{article.createdBy.name}},{{article.createdBy.title}}
                </span>
                <span class="phone-article-office">
                  {{article.createdAt|date: 'yyyy/MM/dd hh:mm'}}
                </span>
              </div>
           
           
        </div>
        <div style='padding:15px; 
        font-size:smaller; 
        font-weight:400px;  
        color: #7e7575;
        overflow: hidden;'>
          {{article.desc.patient}}
      </div>
      </div>
    </div>
    <div class='pop-out' *ngIf='selectedArticle'>
     
      <div class='row' style='width:98%;padding:0; margin:0px;'>
        <div style='width: 100%; margin-top:5%;'> 
          <div style='font-size:20px; font-weight:600'
          [ngStyle]="{'color':provider.activity.textColor}">
            {{selectedArticle.label.ch}}
            <div style='font-size:16px; font-weight:500'
            [ngStyle]="{'color':provider.activity.textColor}">
              <span id="pc-office-1" *ngIf='selectedArticle.createdBy'>
                {{selectedArticle.createdBy.name}},
                {{selectedArticle.createdBy.title}}
              </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span id="pc-office-1">
                {{selectedArticle.createdAt|date: 'yyyy/MM/dd hh:mm'}}
              </span>
            </div>
          </div>
        </div>
        <div style='width: 100%'>
      <a class='btn btn-round btn-primary'  
      style='font-size:12px; margin-left:70%'
      [ngStyle]="{'background-color':provider.activity.textColor}"
      (click)='selectedArticle=null'>所有文章</a>
    </div>
    </div>
    <div style='height:80vh; overflow:auto'>
      <app-form [forms]='[selectedArticle]'></app-form>
    </div>
    
  </div>
    </div>
    <mat-toolbar class="footer"  *ngIf='!fromService'>
      <div class="footer-item"
        (click)="profileSelected=false;descSelected=true;introSelected=false;articleSelected=false;"
        [ngClass]="{'active':descSelected}">
       
          <a href="javascript:void(0);">
            <p>主页</p>
          </a>
       
      </div>
    
      <div class="footer-item"
        (click)="profileSelected=true;descSelected=false;introSelected=false;getProfiles();articleSelected=false;"
        [ngClass]="{'active':profileSelected,'non-active':!profileSelected}">
        <div>
          <a href="javascript:void(0);">
            <p>项目</p>
          </a>
        </div>
      </div>
      <div class="footer-item" 
      (click)="profileSelected=false;descSelected=false;introSelected=false;articleSelected=true;
    getArticles();" [ngClass]="{'active':articleSelected,'non-active':!articleSelected}">
        <div>
          <a href="javascript:void(0);">
            <p>文章</p>
          </a>
        </div>
      </div>
      <div class="footer-item" 
     >
        <div>
          <a href="javascript:void(0);">
            <p>我</p>
          </a>
        </div>
      </div>
     <!-- <div class="footer-item" >
        <div>
          <a href="javascript:void(0);">
            <p>医生加盟</p>
          </a>
        </div>
      </div>-->
    </mat-toolbar>
  </div>
  </div>
</div>


 