@import 'src/assets/scss/base.scss';

.pc-wapper {
    padding: 20px;
    height: calc(100vh - 130px);
    background: $white;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 0px rgba(121,161,161,0.50); 
    overflow-y: auto; 
    .btn {
        margin-bottom: 20px;
    }
    .table {
        tr {
            font-size: $fontSize16;
            font-family: PingFangSC;
            text-align: center;
            color: $basefontColor;
            line-height: 30px;
            &.header {
                line-height: 32px;
                color: $darkfontColor;
                background: $darkGray;
            }
            th, td {
                border-top: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.06);
                vertical-align: middle;
            }
        }
    }
}

.wap-wapper {
    .addbtn {
        margin: 10rem/$base 20rem/$base;
    }
    .mat-lists {
        .mat-main {
            padding-top: 10rem/$base;
            li {
                line-height: 32rem/$base;
            }
        }
    }
    
}
:host ::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    border-bottom: 1px solid #eee;
}
:host ::ng-deep .mat-expansion-panel-body {
    background: $lightGray;
}