<div class="overlay" *ngIf="loading">
  <div class="spinner-wrapper">
    <spinner></spinner>
  </div>
</div>
<div class="pc-wapper" *ngIf='bigScreen==1'>
  <div class="row">
    <div class="col-sm-4">
      <div class="rightcontent" style='border-radius:15px;'>
       
            <div class="nav-tabs-wrapper">
           <ul class='nav nav-tabs' data-tabs='tabs'>
            <li class="nav-item" 
            [ngClass]="{'active':showMyProviders,
                        'non-active':!showMyProviders}" 
                        >
              <a mat-button class="nav-link" 
              (click)=" showMyProviders=true;
                        showAllProviders=false;
                        showProfileProviders=false;
                        getMyProviders();
                        selectedProvider=null;"
                data-toggle="tab" >
                我的医生
                <div class="ripple-container"></div>
              </a>
            </li>
            <li class="nav-item" 
               [ngClass]="{'active':showAllProviders,
                           'non-active':!showAllProviders}" 
               >
              <a mat-button class="nav-link " 
              (click)="showMyProviders=false;
                       showAllProviders=true;
                       showProfileProviders=false;
                       getAllProviders();
                       selectedProvider=null;"
                data-toggle="tab" >
                搜索医生
                <div class="ripple-container"></div>
              </a>
            </li>
            <li class="nav-item"
            [ngClass]="{'active':showProfileProviders,
            'non-active':!showProfileProviders}" 
             >
              <a mat-button class="nav-link " 
              (click)="showMyProviders=false;
                      showAllProviders=false;
                      showProfileProviders=true;
                      getProfileProviders();
                      selectedProvider=null;"
              data-toggle="tab" >
                项目医生
                <div class="ripple-container"></div>
              </a>
            </li>
           </ul>
           </div>
            <div class="tab-content">
            <div class="tab-pane" 
            *ngIf="showMyProviders" 
            [ngClass]="{'active':showMyProviders}"
         >
              <div class="tabcard">
              
                  <div class='providerlists'>
                    <div *ngFor='let provider of myProviders'>
                      <div class='card' [ngClass]="{'selected':selectedProvider&&provider._id==selectedProvider._id}" (click)='selectProvider(provider)'>
                        <div class='card-body'>
                          <div class="headerimg">
                            <img [src]='getUrl(provider)'></div>
                          <div class="info">
                            <div class="main-info">
                              <span>{{provider.name}}</span>
                              <span>{{provider.title}}</span>
                            </div>
                            <div class="specialty">{{provider.specialty}}</div>
                          </div>
                          <div *ngFor="let item of breakLines(provider.desc)">
                            {{item}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
              </div>
            </div>
            <div class="tab-pane" *ngIf=" showAllProviders" 
            [ngClass]="{'active':showAllProviders}">
              <div class="tabcard">
               
                  <div class='providerlists'>
                    <div class="form-group">
                      <input class="form-control" type="text" [(ngModel)]="search" placeholder="search">
                    </div>
                    <div class="providerbox">
                      <div *ngFor='let provider of allProviders|filter: search'>
                        <div class='card' [ngClass]="{'selected':selectedProvider&&provider._id==selectedProvider._id}" (click)='selectProvider(provider)'>
                          <div class='card-body' *ngIf='search'>
                            <div class="headerimg"><img [src]='getUrl(provider)'></div>
                            <div class="info">
                              <div class="main-info"><span>{{provider.name}}</span><span>{{provider.title}}</span></div>
                              <div class="specialty">{{provider.specialty}}</div>
                            </div>
                            <div class="desc" *ngFor="let item of breakLines(provider.desc)">
                              {{item}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
               
              </div>
            </div>
            <div class="tab-pane" *ngIf="showProfileProviders" 
            [ngClass]="{'active':showProfileProviders}">
              <div class="tabcard">
                <div >
                  <div class='providerlists'>
                    <div *ngFor='let provider of profileProviders'>
                      <div class='card' 
                      [ngClass]="{'selected':selectedProvider&&provider._id==selectedProvider._id}"
                        style='margin:15px; width:95%' (click)='selectProvider(provider)'>
      
                        <div class='card-body'>
                          <img class='photo' style=' float:left; margin-right:10px; border-radius:50px;'
                            [src]='getUrl(provider)'>
      
                          <span style='font-weight: 700;font-size: medium;'>
                            {{provider.name}},{{provider.title}} &nbsp;{{provider.specialty}}&nbsp;
                          </span>
                          <div *ngFor="let item of breakLines(provider.desc)">
                            {{item}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          
      
      </div>
    </div>
    <div class="col-sm-5" >
      <div class='rightcontent' style='border-radius:15px'>
      <calendar [allWeek]='allWeek' 
    (messageDateEvent)="receiveDateMessage($event)"
    (messageWeekEvent)="receiveWeekMessage($event)" 
    (messageMonthEvent)="receiveMonthMessage($event)"
    (messageShowWeekEvent)="receiveShowWeekMessage($event)" 
    ></calendar>
  
  <div class="checkdate">{{selectedDate|date: "yyyy/MM/dd"}}</div>
  <div class='calendar'>
    <div *ngIf='dayView&&currentWeek'>
      <div class="appoint">
        <ul>
       
          <li *ngFor='let time of timeList' (click)=getScheduleForm(time)>
            <span>{{time.time}}</span>
            
                 <span *ngIf='getSchedule(time)'>
                    <i class='material-icons' *ngIf="!getSchedule(time).patient" style="color:#26ab56;">check_circle</i>
                    <i class='material-icons' *ngIf="getSchedule(time).patient" style="color:red;">check_circle</i>
                  </span>
          </li>
        </ul>
      </div>
    </div>

</div>
</div>
    </div>
    <div class="col-sm-3" >
      <div class="rightcontent">
        <div class="card-header">My schedule</div>
        <div class='btn btn-round' *ngFor='let schedule of mySchedules' (click)='getScheduleForm(schedule)'
          style='background-color: white;color:black'>
          <img class='photo' style=' float:left' [src]='getUrl(schedule.provider.photo)'>
          <span style='font-weight: 700;font-size: medium; float:left'>
            {{schedule.provider.name}},{{schedule.provider.title}}
          </span>
          <span style='float:right'>
            {{ getVisitDate(schedule) |date:"yyyy/MM/dd hh:mm"}}
          </span>
        </div>
        <div class="card-body">
          <div> {{selectedDate|date: "yyyy/MM/dd"}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wap-wapper" *ngIf='bigScreen==0'>
  <div class='card schedule' *ngIf='editSchedule'>
    <!-- <div class='card-header'>
      <i class='material-icons pull-right' (click)='editSchedule=false;sendMessageToPatientStory();'>close</i>
    </div> -->
    <calendar (messageDateEvent)="receiveDateMessage($event)"></calendar>
    <div class="checkdatebox">
      <div class='date'>{{selectedDate|date: "yyyy/MM/dd"}}</div>
    </div>
  </div>

  <!-- 患者根据医生选择的日期选择时间 -->
  <div *ngIf='dayView&&scheduleList'>
    <div *ngFor='let schedule of scheduleList'>
      <div class='card checktimebox' *ngIf='schedule.providerVisits&&schedule.providerVisits.length>0'>
        <div class='card-header doctorinfo'>
          <img class='photo' style=' float:left; margin-right:10px;' [src]='getUrl(schedule.photo)'>
          <span style='font-weight: 700;font-size: medium;'>
            {{schedule.name}},{{schedule.title}} &nbsp;{{schedule.specialty}}
          </span>
          <p>{{schedule.desc}}</p>
        </div>
        <div class='card-body' *ngIf='schedule.providerVisits'>
          <div class='btn btn-base' *ngFor="let providerVisit of schedule.providerVisits" [ngClass]="{'avail':providerVisit.status=='avail',
                      'reserved':providerVisit.status=='reserved'}" (click)='getScheduleForm(providerVisit)'>
            {{ getVisitDate(providerVisit) |date:"hh:mm"}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class='card' *ngFor='let schedule of mySchedules' (click)='getScheduleForm(schedule)'
      style='background-color: transparent;color:blue; padding:10px;'>
      <img class='photo' style=' float:left' [src]='getUrl(schedule.provider.photo)' *ngIf='!selectedProvider'>
      <span style='font-weight: 700;font-size: medium; float:left' *ngIf='!selectedProvider'>
        {{schedule.provider.name}},{{schedule.provider.title}}
      </span>
      <span style='float:right;font-weight: 700;font-size: medium; '>
        {{ getVisitDate(schedule) |date:"yyyy/MM/dd hh:mm"}}
      </span>
    </div>

  </div>
</div>

<!--<div *ngIf=weekView style='padding:0; margin:0'>
              
        <table class='table' style='text-align: center;'>
        
          
          <tbody >
            <tr  *ngFor ='let time of timeList' >
            
              <td  *ngFor ='let day of currentWeek'  
              (click)='bookTime(currentWeek,day,time)' style='background-color: lightgrey;'>
              <a class='btn btn-round' style='background-color:white; box-shadow: 0 4px 20px 0px gray,
              0 7px 10px -5px rgba(gray , 0.4);'>
                <span style='float:left'>{{time.time}}</span>
              <span *ngIf='findSchedule(currentWeek,day, time.hours, time.minutes)'style='float:right' >
                  <div *ngFor='let schedule of findSchedule(currentWeek,day, time.hours, time.minutes)' 
                  > 
                    
                  <span *ngIf="user.role=='patient'&&myProvider(schedule)"  
                  (click)='getScheduleForm(schedule)'> 
              {{schedule.provider.name}}
              <i class='material-icons' *ngIf="schedule.status=='avail'"
              style="color:#26ab56;">check_circle</i>
              <i class='material-icons' *ngIf="schedule.patientID==user._id&&schedule.status=='reserved'"
              style="color:orange">check_circle</i>
              <i class='material-icons' *ngIf="schedule.patientID!=user._id&&schedule.status=='reserved'"
              style="color:red">check_circle</i>
              
          </span>
  
                      
                </div>
              </span>
              </a>
                </td>
             
              
          </tr>
        </tbody>
          </table>
        
      </div>
    <div *ngIf='dayView' style='padding:0; margin:0; background-color: lightcyan;'>
    
          <div class='row' style='margin-left:10px;margin-right:10px;margin-top:-20px;background-color:lightgrey;'>
            <a class='btn btn-round'  *ngFor ='let time of timeList' 
            style='background-color:white;width:30%; margin:10px; box-shadow: 0 4px 20px 0px gray,
            0 7px 10px -5px rgba(gray , 0.4);'
            (click)='bookTime(currentWeek,selectedDate.getDate(),time)'>
              <span style="float:left" >{{time.time}}</span>
              <span style="float:right"   
             >
                <span *ngIf='findSchedule(currentWeek,selectedDate.getDate(), time.hours, time.minutes)'>
                  <span *ngFor='let schedule of findSchedule(currentWeek,selectedDate.getDate(), time.hours, time.minutes)' 
                      (click)='reserve(schedule, currentWeek.scheduleList)'> 
                      <span *ngIf="user.role=='patient'&&myProvider(schedule)"  
                      (click)='getScheduleForm(schedule)'> 
                          {{schedule.provider.name}}
                          <i class='material-icons' *ngIf="schedule.status=='avail'"
                          style="color:#26ab56;">check_circle</i>
                          <i class='material-icons' *ngIf="schedule.patientID==user._id&&schedule.status=='reserved'"
                          style="color:orange">check_circle</i>
                          <i class='material-icons' *ngIf="schedule.patientID!=user._id&&schedule.status=='reserved'"
                          style="color:red">check_circle</i>
                          
                      </span>
  
                  </span>
                </span>
              </span>
                  
                    
        
            
            </a>
             </div>
        </div>-->
