<div class="pc-heathy-main" *ngIf='bigScreen==1'>
  <div class="card white-color">
    <div class='row'>
      <div class='col-sm-4' *ngFor='let profile of profiles|filter:search'
        [routerLink]="['../profile', profile._id,undefined,undefined, profile.image]">
        <div class='pc-healthy'>
          <div class="card-header">
            <img [src]="getUrl(profile.image)" />
          </div>
          <div class="card-body">
            <h4>
              <span *ngIf='profile.label'>{{profile.label.ch}}</span>
            </h4>
            <p *ngIf="profile.desc">
              {{profile.desc.patient}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="phone-heathy-main" *ngIf='bigScreen==0'>
  <div class="phone-heathy-middle">
    <h3>慢病管理项目</h3>
    <div class="searchbox">
      <input class='form-control' [(ngModel)]="search"><i class="material-icons">search</i>
    </div>
  </div>
  <div class="phone-heathy-bottom">
    <div class="phone-heathy-bottom-div " *ngFor='let profile of profiles|filter:search'>
      <a [routerLink]="['../profile', profile._id,undefined,undefined, profile.image]">
        <img [src]="getUrl(profile.image)" alt="" class="phone-heathy-bottom-main-img">
        <div class='phone-heathy-bottom-main-content'>
          <p class="phone-heathy-bottom-title" *ngIf='!profile.label'>{{profile.name}}</p>
          <p class="phone-heathy-bottom-title" *ngIf='profile.label'>{{profile.label.ch}}</p>
          <p class="phone-heathy-bottom-describe">{{profile.desc.patient}}</p>
        </div>
      </a>
    </div>
  </div>
</div>
